body{
	background-color: lightgray;
}
.row{
	clear: both;
}
h2{
	color: crimson;
}
.section{
	padding: 5px;
}
.text{
	background-color: lightgray;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 5px;
}
.bar{
	background-color: salmon;
	color: white;
	padding: 2px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 5px;
}
.python{
	width: 100%;
}
.html{
	width: 75%;
}
.css{
	width: 60%;
}
.js{
	width: 45%;
}
.php{
	width: 30%;
}
.star{
	width: 25px;
}
.hobbies{
	background-color: deeppink;
	color: white;
	border-radius: 5px;
	padding: 2px;
	overflow: hidden;
	display: inline-block;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 100px;
	margin-right: 10%;
	margin-left: 10%;
	height: auto;
	overflow: auto;
	background-color: white;
	margin-top: -100px;
}
.photo{
	height: auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#text{
	float: right;
}
/*Columnas*/
@media (min-width: 768px) {   
	/*.container {
	    max-width: 720px;
	    margin: o auto;
  	}*/
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
	.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {

		float: left;
	}

	.col-md-1 {
	width: 8%;
	}
	.col-md-2 {
	width: 17%;
	}
	.col-md-3 {
	width: 25%;
	}
	.col-md-4{
	width: 33%;
	}
	.col-md-5 {
	width: 42%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.3%;
	}
	.col-md-8{
		width: 66%;
	}
	.col-md-9{
		width: 75%;
	}
	.col-md-10{
		width: 83%;
	}
	.col-md-11{
		width: 92%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media (min-width: 577px) {
/*	.container {
	    max-width: 540px;
	    margin: o auto;
  	}*/
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, 
	.col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {

		float: left;
	}

	.col-sm-1 {
	width: 8%;
	}
	.col-sm-2 {
	width: 17%;
	}
	.col-sm-3 {
	width: 25%;
	}
	.col-sm-4{
	width: 33%;
	}
	.col-sm-5 {
	width: 42%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58%;
	}
	.col-sm-8{
		width: 66%;
	}
	.col-sm-9{
		width: 75%;
	}
	.col-sm-10{
		width: 83%;
	}
	.col-sm-11{
		width: 92%;
	}
	.col-sm-12{
		width: 100%;
	}
	
}